<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear <%= @user.full_name %></p>
    <p>
      Your Rotten Mangoes account has been deleted.<br>
    </p>
    <p>Thanks for joining and have a great day!</p>

    <p>Regards,</p>

    <p>Rotten Mangoes team</p>

  </body>
</html>